---
import type { GetStaticPathsResult } from "astro";
import { Chapter, getByLanguage } from "../../core/Chapter";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../ui/cover/Hero.astro";
import Title from "../../ui/cover/Title.astro";
import Subtitle from "../../ui/cover/Subtitle.astro";
import Link from "../../ui/Link.astro";
import Section from "../../ui/cover/Section.astro";

export async function getStaticPaths() {
  const chapters = await getByLanguage();

  return Object.keys(chapters).reduce((result, lang) => {
    result.push({
      params: {
        lang,
      },
      props: {
        lang,
        chapters: chapters[lang],
      },
    });

    return result;
  }, [] as GetStaticPathsResult);
}
interface Props {
  lang: string;
  chapters: Chapter[];
}
const { lang, chapters } = Astro.props;
const {
  Content: Cover,
  headings: [{ text: title }],
} = await chapters[0].render();
---

<Layout lang={lang} title={title}>
  <Hero>
    <Cover components={{ h1: Title, h2: Subtitle }} />
  </Hero>
  <Section>
    <span slot="title">Chapters</span>
    <ol>
      {
        chapters.slice(1).map((chapter, index) => (
          <li>
            <Link href={`/${chapter.slug}`} title={chapter.data.title}>
              {index + 1} - {chapter.data.title}
            </Link>
          </li>
        ))
      }
    </ol>
  </Section>
  <Section>
    <span slot="title">Credits</span>
    <span
      >Original content by <Link
        newTab={true}
        href="https://www.youtube.com/@YUGOPNIK"
        title="YUGOPNIK">YUGOPNIK</Link
      >. Check out the <Link
        newTab={true}
        href="https://www.youtube.com/watch?v=MlP0nvJSshU"
        title="The Socialist guide to surviving in Capitalism"
        >original video</Link
      > and give him a follow :)
    </span>
    <span>
      Adaptation by <Link
        newTab={true}
        href="https://github.com/rafael-pinheiro"
        title="Rafael Pinheiro">Rafael Pinheiro</Link
      >
    </span>
  </Section>
  <Section>
    <span slot="title">Contributing</span>

    <span>
      Check out how to donate some money to the original content creator here: <Link
        newTab={true}
        href="https://linktr.ee/Yugopnik"
        title="YUGOPNIK">YUGOPNIK</Link
      >
    </span>
    <span>
      Donate to the developer <Link
        newTab={true}
        href="https://paypal.me/rbpinheiro"
        title="Rafael Pinheiro">rbpinheiro</Link
      > to support future development and maybe help get a domain name.
    </span>
    <span>
      Create an issue on <Link
        newTab={true}
        href="https://github.com/rafael-pinheiro/the-socialist-guide-to-surviving-in-capitalism"
        title="Github">Github</Link
      > if you found a bug, typo or to let me know that you want to help translate
      it to other languages and that I should hurry up and make that possible!</span
    >
  </Section>
</Layout>
