---
import type { GetStaticPathsResult } from "astro";
import { Chapter, getByLanguage } from "../../core/Chapter";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../ui/cover/Hero.astro";
import Title from "../../ui/cover/Title.astro";
import Subtitle from "../../ui/cover/Subtitle.astro";
import Link from "../../ui/Link.astro";
import Section from "../../ui/cover/Section.astro";

export async function getStaticPaths() {
  const chapters = await getByLanguage();

  return Object.keys(chapters).reduce((result, lang) => {
    result.push({
      params: {
        lang,
      },
      props: {
        lang,
        chapters: chapters[lang],
      },
    });

    return result;
  }, [] as GetStaticPathsResult);
}
interface Props {
  lang: string;
  chapters: Chapter[];
}
const { lang, chapters } = Astro.props;
const {
  Content: Cover,
  headings: [{ text: title }],
} = await chapters[0].render();
---

<Layout lang={lang} title={title}>
  <Hero>
    <Cover components={{ h1: Title, h2: Subtitle }} />
  </Hero>
  <Section>
    <span slot="title">Chapters</span>
    {
      chapters.slice(1).map((chapter, index) => (
        <li>
          <Link href={`/${chapter.slug}`} title={chapter.data.title}>
            {index + 1} - {chapter.data.title}
          </Link>
        </li>
      ))
    }
  </Section>
  <Section>
    <span slot="title">Credits</span>
    <div class="flex flex-col">
      <span
        >Original content by <Link
          href="https://www.youtube.com/@YUGOPNIK"
          title="YUGOPNIK">YUGOPNIK</Link
        >. Check out the <Link
          href="https://www.youtube.com/watch?v=MlP0nvJSshU"
          title="The Socialist guide to surviving in Capitalism"
          >original video</Link
        > and give him a follow :)
      </span>
      <span
        >Website by <Link
          href="https://github.com/rafael-pinheiro"
          title="Rafael Pinheiro">Rafael Pinheiro</Link
        >
      </span>
    </div>
  </Section>
</Layout>
